<html lang="en">
	<%- include('templates/head') %>
	<body>
		<%- include('templates/navbar') %>
      <main>
			<div class="header-container">
				<h1>Categories</h1>
				<a href="/inventory/categories/create"><img class="add-icon" src="/images/add-icon.png" alt="add icon button"></a>
			</div>
			<% if(typeof category_list !== 'undefined') { %>
				<ul class="category-list">
					<% for(let i = 0; i < category_list.length; i++) { %>
					<li><a href=<%= category_list[i].url %>><%= category_list[i].name %></a></li>
					<% } %>
				</ul>
			<% } else { %>
				<div class="status-container">
					<h2>There are currently no categories!</h2>
					<p>You can add a category with the add icon above</p>
				</div>
			<% } %>
		</main>
	</body>
</html>