<html>
  <%- include('templates/head') %>
  <body>
    <%- include('templates/navbar') %>
    <main>
      <h1 class="app-title">🌮Tacos and Flowers🌻</h1>
			<div class="home-info-container">
				<p>Welcome to tacos and flowers inventory web app, where you can create and add tacos and flowers to checkout! This project is part of my roadmap towards my dream to become a full stack developer. I chose tacos and flowers because my girlfriend loves tacos and I love flowers!</p>
				<p>Essential functions include adding categories and their respective items, as well as adding existing items to cart for checkout. For update/delete, there is a password in place to secure against potentially destructive users from altering core items. Anyway, enjoy the stay!</p>
      </div>
      <hr>
      <div class="flex-display">
        <div class="status-container">
          <div class="status-info">
            <h2 class="title">Status</h2>
            <dl>
              <dt>Total Categories</dt>
              <dd><%= categories.length %></dd>
              <dt>Number of Items</dt>
              <dd><%= items.length %></dd>
            </dl>
          </div>
        </div>
        <div>
          <img id="valentines-image" src="/images/valentines.jpg" alt="valentines image">
        </div>
      </div>
    </main>
  </body>
</html>