<html>
  <%- include('templates/head') %>
  <body>
    <%- include('templates/navbar') %>
    <main>
      <h1 class="app-title">🌮Tacos and Flowers🌻</h1>
			<div class="home-info-container">
				<p>Welcome to tacos and flowers inventory web app, where you can create and add tacos and flowers to checkout! This project is part of my roadmap towards my dream to become a full stack developer.</p>
				<p>Essential functions include adding categories and their respective items, as well as adding existing items to cart for checkout. For update/delete, there is a password in place to secure against potentially destructive users from altering core items. Anyway, enjoy the stay!</p>
			</div>
    </main>
  </body>
</html>