<html>
  <%- include('templates/head') %>
  <body>
    <%- include('templates/navbar') %>
    <main>
      <div class="header-container">
        <h1>All Items</h1>
        <a href="/inventory/items/create"><img class="add-icon" src="/images/add-icon.png" alt="add icon button"></a>
     </div>
     <div class="item-list-container">
        
     </div>
    </main>
  </body>
</html>